div.zuehlke-center {
    
    left: 0;

}

span.zuehlke-header.print{
    left: auto;
    display: block;
    margin-bottom: 20px;
}

/*********************************************
 * ZUEHLKE SPLASH
 *********************************************/

section.zuehlke-bg {

    background: url("../../images/presentation/lake.jpg");

    background-size: auto 100%;

    background-repeat: no-repeat;
    
}

.reveal .slides section {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

section.bg-one-right {

    background-position: -40px 0;

}

section.bg-two-right {

    background-position: -80px 0;

}

section.bg-three-right {

    background-position: -120px 0;

}

section.bg-four-right {

    background-position: -160px 0;

}

section.orange {

    background-color: #FE6100;

}

section.zuehlke-bg div.zuehlke-splash-title {

    font-size: 1.5em;

    background-color: #FFFFFF;

    padding: 20px;

    display: inline-block;

    color: #555555;

    text-transform: uppercase;

}